.navbar * {
  color: #f2f2f2;
}


.navbar {
  background-color: #353333;
  min-height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  position: sticky;
}

.navbar-header {
  font-weight: 500;
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  padding: 0 0.3rem;
  cursor: pointer;
  color: #bfbfbf;
}

.nav-item a:hover {
  color: #badcef;
}

.active {
  color: #72c8f9;
}
